/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Sep 2021, 9:20:12 PM
    Author     : Kwizera
*/
#vbox {
    -fx-background-color: rgb(255,153,153);
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-width:300px;
}
#hbox{
    -fx-background-color: #cc0000;
    -fx-padding: 15;
    -fx-spacing: 10;
}
